nav{ 
    border-radius: 1em;
    height: 20%;
    margin: 1em;
    border: white 3px solid;
    font-size: 20px;
    
}
ul{
    list-style: none;
    li{
        padding: 25px;
        display: inline;
        a{
            font-size: 20px;
            color: white;
        }

    }

}

.navegacion{
    background-color: $brown2;
    
}