.carousel{
    margin: 1em;
    border-radius: 1em;
    p{
        color: black;
        font-size: 40px;
    }

} 

footer{
    color: white;
    font-size: 18px;  
    // .icono{
    //     width: auto;
    //     height: auto;
    //     max-width: 4px;
    //     max-height: 4px;
    // }
}